In [17]:
for num in range (0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [19]:
for num in range (0,20):
    print (num, end = ', ' )

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,

In [23]:
List2=[10,20,14,55,43,87,76]
print(List2)
print("Number of item in the List2:",len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [9]:
word=['-Your Name-','-Your Age-','-Your Profession-']
for ch in word:
    print(ch)

-Your Name-
-Your Age-
-Your Profession-

In [11]:
tup=(1, 'Welcome',2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [13]:
tup1=(0,1,2,3)
tup2=('Python','Hope')
tup3=(tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [25]:
word=input()
for ch in word:
    print(ch)

 Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [29]:
num=(20,10,16,19,25,1,276,188)
for i in num:
    if(i%2!=0):
        print(i,"is odd")

19 is odd
25 is odd
1 is odd

In [31]:
num=(20,10,16,19,25,1,276,188)
for i in num:
    if(i%2==0):
        print(i,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even